<div id="experience-container">
  <h1>Own experiences</h1>
  {{#each experiences }}
  <div id="own-experiences-div">
    <img src="{{this.imgPath}}" alt="" id="img-experience">
    <span>{{this.descriptionPreview}}</span>
    <h5>{{this.title}}</h5>
    {{else}}
    <h2>no experiences yet :(</h2>
    </div>
  {{/each}}
</div>
  <a href="/experience/add">Añade una experiencia</a>
<div id="experience-container">
  
  {{!-- <h1>Group Tour</h1>
  {{#each tour }}
  <div id="own-experiences-div">
    <img src="{{this.imgPath}}" alt="" id="img-experience">
    <span>{{this.descriptionPreview}}</span>
    <h5>{{this.title}}</h5>
    {{else}}
    <h2>no group-tours yet :(</h2>
    </div>
  {{/each}}
    <a href="/group-tour/add">Añade un tour grupal</a>
</div> --}}