<div class="stage_post">
  <img src="{{groupTour.imgPath}}" alt="" style="width:650px; height:400px">
</div>
<section class="post_1">
  <div class="post_inside">
    <div class="post_content">
      <h2>{{groupTour.title}}</h2>
      <h6>{{groupTour.username}}</h6>
        <br>
      <h5>{{groupTour.descriptionPreview}}</h5>
      <p>{{groupTour.description}}</p>
        <br>
      <h4>Duración aproximada: {{groupTour.duration}} horas</h4>
      <h3>Some tips: {{groupTour.tips}}</h3>
    </div>
    <div class="post_content2">
      <h2>Deja un comentario: </h2>
      <form action="/reviews/add?tour_id={{groupTour._id}}" method="post">
        <div class="input-comp">
        <label for="">Usuario:</label><br>
        <input type="text" name="user"><br>
        </div>
        <div class="input-comp">
        <label for="">Comentario:</label><br>
        <textarea type="text" name="comments"></textarea><br>
        </div>
        <button type="submit" class="btn btn-red">Publish</button>
      </form>
    </div>
    <div class="post_content2">
      <h2>Reviews</h2>
      {{#each groupTour.reviews}}
      <div class="review-item">
        <h4>{{this.user}}</h4>
        <p>{{this.comments}}</p>
      </div>
      {{else}}
        <h4>No comments yet</h4>
      {{/each}}
    </div>
</section>
